<div class="card" style="width: 50%;">
	<h2>Card #{{count}}</h3>
	<form action="#" method="post">
		<input type="hidden" name="id" value="{{id}}">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="form-group">
					<label>Title: </label>
					<input type="text" class="form-control" name="title" placeholder="{{title}}">
				</div>			
			</li>

			<li class="list-group-item">
				<div class="form-group">
					<label>Sub-Title: </label>
					<input type="text" class="form-control" name="subtitle" placeholder="{{subtitle}}">
				</div>
			</li>

			<li class="list-group-item">
				<div class="form-group">
					<label>Data ID: </label>
					<input type="text" class="form-control" name="device" placeholder="{{device}}">
				</div>			
			</li>

			<li class="list-group-item">
				<div class="form-group">
					<label>Display in Presentation Mode: </label>
					<input type="hidden" name="PublicPresVis" value="0">
					<input id="checkbox-pres-{{id}}" type="checkbox" name="PublicPresVis" value="1"><br>
					<script type="text/javascript">
						document.getElementById("checkbox-pres-{{id}}").checked = ({{PublicPresVis}} === 1);
					</script>					
				</div>		
			</li>

			<li class="list-group-item">
				<div class="form-group">
					<label>Disabled: </label>
					<input type="hidden" name="disabled" value="0">
					<input id="checkbox-disable-{{id}}" type="checkbox" name="disabled" value="1"><br>
					<script type="text/javascript">
						document.getElementById("checkbox-disable-{{id}}").checked = ({{disabled}} === 1);
					</script>					
				</div>		
			</li>

			<li class="list-group-item">
				<input type="submit" class="btn btn-primary" name="action" value="Update" />
				<input type="submit" class="btn btn-primary" name="action" value="Delete" />
			</li>
		</ul>		
	</form>
</div>
<br />