<div class="card" style="width: 50%;">
	<h2>Card #{{count}}</h3>
	<form id="form-{{count}}-{{id}}" action="#" method="post">
		<input type="hidden" name="id" value="{{id}}">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="form-group">
					<label>Title: </label>
					<input type="text" class="form-control" name="title" placeholder="{{title}}">
				</div>			
			</li>

			<li class="list-group-item">
				<div class="form-group">
					<label>Sub-Title: </label>
					<input type="text" class="form-control" name="subtitle" placeholder="{{subtitle}}">
				</div>
			</li>

			<li class="list-group-item">
				<div class="form-group">
					<label>Data ID: </label>
					<input type="text" class="form-control" name="device" placeholder="{{device}}">
				</div>			
			</li>

			<li class="list-group-item">
				<div class="form-group">
					<label>Display in Presentation Mode: </label>
					<input type="hidden" name="PublicPresVis" value="0">
					<input id="checkbox-pres-{{id}}" type="checkbox" name="PublicPresVis" value="1"><br>
					<script type="text/javascript">
						document.getElementById("checkbox-pres-{{id}}").checked = ({{PublicPresVis}} === 1);
					</script>					
				</div>		
			</li>

			<li class="list-group-item">
				<div class="form-group">
					<label>Disabled: </label>
					<input type="hidden" name="disabled" value="0">
					<input id="checkbox-disable-{{id}}" type="checkbox" name="disabled" value="1"><br>
					<script type="text/javascript">
						document.getElementById("checkbox-disable-{{id}}").checked = ({{disabled}} === 1);
					</script>					
				</div>		
			</li>

			<li class="list-group-item">
				<input id="update-{{count}}-{{id}}" type="submit" class="btn btn-primary" name="action" value="Update" />
				<input id="delete-{{count}}-{{id}}" type="submit" class="btn btn-primary" name="action" value="Delete" />
			</li>
		</ul>	
	</form>
	<script type="text/javascript">
		$("#form-{{count}}-{{id}}").submit(function(e) {
			var request = $("#form-{{count}}-{{id}}").serialize() + "&action=" + document.activeElement.value;	
			console.log(request);

			$.ajax({
				type: "POST",
				url: "/admin/",
				data: request, // serializes the form's elements.
				success: function(data) {
					showUpdate(data); // show response from the php script.
				}
			});

			if (document.activeElement.value == "Update")
				e.preventDefault();
		});
	</script>
</div>
<br />